animations {
    workspace-switch {
        spring damping-ratio=0.75 stiffness=400 epsilon=0.0001
    }

    window-open {
        spring damping-ratio=0.7 stiffness=600 epsilon=0.0001
    }

    window-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    horizontal-view-movement {
        spring damping-ratio=0.8 stiffness=600 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=0.8 stiffness=700 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=0.9 stiffness=600 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=800 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.8 stiffness=400 epsilon=0.01
    }

    screenshot-ui-open {
        spring damping-ratio=0.8 stiffness=800 epsilon=0.001
    }

    overview-open-close {
        spring damping-ratio=0.85 stiffness=500 epsilon=0.0001
    }

    recent-windows-close {
        spring damping-ratio=1.0 stiffness=900 epsilon=0.001
    }
}
