window-rule {
    open-maximized-to-edges false
}

window-rule {
    match is-floating=true
    shadow {
        on
    }
}

// Need niri/scripts/fix-webcam-mpv to work
window-rule {
    match title="^webcam-mpv$"
    open-floating true
    open-focused false
    shadow {
        off
    }
    border {
        off
    }
}

window-rule {
    match app-id="firefox"
    match app-id="zen"
    match app-id="zalo.exe"
    match app-id="discord"
    match app-id="jetbrains-rustrover"
    match app-id="gimp" title="GNU Image Manipulation Program"
    open-maximized true
}

window-rule {
    match app-id="showmethekey-gtk" title="Floating Window - Show Me The Key"
    open-floating true
    open-focused false
    shadow {
        off
    }
    border {
        off
    }
    default-floating-position x=5 y=5 relative-to="bottom-right"
}

window-rule {
    match title="Blobdrop"
    open-floating true
    default-floating-position x=5 y=5 relative-to="top-right"
}

window-rule {
    match app-id="explorer.exe"
    default-floating-position x=5 y=5 relative-to="top-right"
}

window-rule {
    match app-id="org.quickshell"
    match title="Settings"
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    block-out-from "screen-capture"
}

layer-rule {
    match namespace="^dms:notification-popup$"
    block-out-from "screencast"
}

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
