/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #00513b !important;
  --toolbarbutton-icon-fill: #68dbb0 !important;
  --toolbar-field-color: #e2e2e2 !important;
  --tab-selected-textcolor: #68dbb0 !important;
  --toolbar-color: #e2e2e2 !important;
  --arrowpanel-color: #e2e2e2 !important;
  --arrowpanel-background: #1f1f1f !important;
  --sidebar-text-color: #e2e2e2 !important;
/*  --zen-main-browser-background: #131313 !important; */
}

.sidebar-placesTree {
  background-color: #1f1f1f !important;
}

#zen-workspaces-button {
  background-color: #1f1f1f !important;
}

#TabsToolbar {
  background-color: #131313 !important;
}

.urlbar-background {
  background-color: #1f1f1f !important;
}

.urlbar-input::selection {
  color: #003828 !important;
  background-color: #68dbb0 !important;
}

.urlbarView-url {
  color: #c6c6c6 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #68dbb0
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #85f0c8 !important;
  --identity-icon-color: #85f0c8 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #68dbb0 !important;
  --identity-icon-color: #68dbb0 !important;
}

.identity-color-green {
  --identity-tab-color: #a1ffa5 !important;
  --identity-icon-color: #a1ffa5 !important;
}

.identity-color-yellow {
  --identity-tab-color: #fff6a1 !important;
  --identity-icon-color: #fff6a1 !important;
}

.identity-color-orange {
  --identity-tab-color: #fff16b !important;
  --identity-icon-color: #fff16b !important;
}

.identity-color-red {
  --identity-tab-color: #ffba9a !important;
  --identity-icon-color: #ffba9a !important;
}

.identity-color-pink {
  --identity-tab-color: #a1ffdb !important;
  --identity-icon-color: #a1ffdb !important;
}

.identity-color-purple {
  --identity-tab-color: #036540 !important;
  --identity-icon-color: #036540 !important;
}

#zen-appcontent-navbar-container {
  background-color: #131313 !important;
}
