prefer-no-csd

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/xdg/pictures/screenshots/screenshot-%Y-%m-%d_%H-%M-%S.png"

overview {
    zoom 0.3
    backdrop-color "#232634"
}
switch-events {
    lid-close { spawn "bash" "-c" "systemctl suspend"; }
}

include "modules/startup.kdl"
include "modules/layout.kdl"
include "modules/input.kdl"
include "modules/rules.kdl"
include "modules/keybinds.kdl"
include "modules/animation.kdl"
include "modules/gestures.kdl"
include "modules/blur.kdl"

include "dms/outputs.kdl"
include "dms/layout.kdl"
include "dms/cursor.kdl"
include "dms/colors.kdl"
include "dms/alttab.kdl"
include "dms/wpblur.kdl"
include "dms/binds.kdl"
